<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbCompanyQualificationMapper">

    <insert id="batchInsertCompanyQualification" parameterType="com.silita.biaodaa.model.TbCompanyQualification">
        INSERT INTO
        hunanyitihua.tb_company_qualification(`com_name`, `cert_no`, `cert_date`, `valid_date`, `tab`,
        `url`, `corpid`)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.comName}, #{item.certNo}, #{item.certDate}, #{item.validDate}, #{item.tab},
            #{item.url}, #{item.corpid})
        </foreach>
    </insert>

    <insert id="InsertCompanyQualification" parameterType="com.silita.biaodaa.model.TbCompanyQualification">
      INSERT INTO
      hunanyitihua.tb_company_qualification(`com_name`, `cert_no`, `cert_date`, `valid_date`, `tab`,
      `url`, `corpid`)
      VALUES
        (#{comName}, #{certNo}, #{certDate}, #{validDate}, #{tab},
        #{url}, #{corpid})
    </insert>

    <select id="getTotalByCertNo" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM hunanyitihua.tb_company_qualification WHERE cert_no = #{certNo}
    </select>

    <select id="getAllCompanyQualificationUrlByTabName" parameterType="String" resultType="String">
        (SELECT url FROM hunanyitihua.tb_company_qualification
        WHERE tab = #{tableName} AND created IS NOT NULL
        ORDER BY created DESC  LIMIT 0,6)
        UNION ALL
        (SELECT url FROM hunanyitihua.tb_company_qualification
        WHERE tab = #{tableName} AND created IS NULL
        ORDER BY CONVERT(com_name USING gbk))
    </select>

    <update id="updateCompanyQualificationUrlByCorpid" parameterType="com.silita.biaodaa.model.TbCompanyQualification">
        UPDATE hunanyitihua.tb_company_qualification
        SET qual_type = #{qualType}, cert_org = #{certOrg}, `range` = #{range}, com_id = #{comId}, created = NOW()
        WHERE `cert_no` = #{certNo} AND `corpid` = #{corpid}
    </update>

    <select id="getCompanyQualificationTotalByTabName" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM hunanyitihua.tb_company_qualification  WHERE tab = #{tableName} AND `created` IS NOT NULL
    </select>

    <select id="listCompanyQualification" parameterType="Map" resultType="com.silita.biaodaa.model.TbCompanyQualification">
        SELECT * FROM hunanyitihua.tb_company_qualification WHERE tab = #{tableName} AND `created` IS NOT NULL LIMIT #{start}, #{pageSize}
    </select>


    <select id="getAllCompanyQualificationUrlByTabAndCompanyName" parameterType="Map" resultType="String">
        SELECT url FROM hunanyitihua.tb_company_qualification WHERE tab = #{tableName} AND com_name = #{comName}
    </select>

    <select id="getComIdByUrl" parameterType="String" resultType="com.silita.biaodaa.model.TbCompanyQualification">
        SELECT * FROM hunanyitihua.tb_company_qualification WHERE url = #{url}
    </select>

    <update id="updateTbCompanyQualificationByUrl" parameterType="com.silita.biaodaa.model.TbCompanyQualification">
        UPDATE hunanyitihua.tb_company_qualification
        SET qual_type = #{qualType}, cert_no = #{certNo}, cert_org = #{certOrg}, `range` = #{range}, com_id = #{comId},
        updated = NOW()
        WHERE `url` = #{url}
    </update>

    <select id="listComNameAndTab" resultType="Map">
        SELECT DISTINCT com_name, tab
        FROM hunanyitihua.tb_company_qualification
        WHERE created IS NOT NULL
    </select>

    <select id="getBeiJinCompanyQualificationTotalByTabName" resultType="Integer">
          SELECT COUNT(*) FROM hunanyitihua.tb_company_qualification WHERE bak_id IS NOT NULL
    </select>

    <select id="listBeiJinCompanyQualification" parameterType="Map" resultType="com.silita.biaodaa.model.TbCompanyQualification">
        SELECT * FROM hunanyitihua.tb_company_qualification WHERE bak_id IS NOT NULL LIMIT #{start}, #{pageSize}
    </select>
</mapper>