<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.silita.dao.TbCompanyIntoMapper">
    <insert id="insertCompanyInto" parameterType="com.silita.model.TbCompanyInto">
        INSERT INTO
        mishu.tb_company_into(`qybm`, `com_name`, `org_code`, `business_num`, `regis_address`,
        `regis_capital`, `com_address`, `legal_person`, `into_no`, `into_valid_date`,
        `cert_no`, `safe_cert_no`, `safe_valid_date`, `rang`, `created`)
        VALUES
        (#{qybm}, #{comName}, #{orgCode}, #{businessNum}, #{regisAddress},
        #{regisCapital}, #{comAddress}, #{legalPerson}, #{intoNo}, #{intoValidDate},
        #{certNo}, #{safeCertNo}, #{safeValidDate}, #{rang}, NOW())
    </insert>

    <select id="getTotalByOrgCodeAndBusinessNum" parameterType="com.silita.model.TbCompanyInto" resultType="Integer">
        SELECT COUNT(*) FROM mishu.tb_company_into WHERE `org_code` = #{orgCode} AND `business_num` = #{businessNum}
    </select>
</mapper>