<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbCompanyMapper">

    <insert id="insertCompany" parameterType="com.silita.model.TbCompany">
        <selectKey resultType="Integer" order="AFTER" keyProperty="comId">
            SELECT LAST_INSERT_ID() AS comId
        </selectKey>
        INSERT INTO
        mishu.tb_company(`com_name`, `org_code`, `business_num`, `regis_address`, `com_address`,
        `legal_person`, `economic_type`, `regis_capital`, `skill_leader`, `created`)
        VALUES
        (#{comName}, #{orgCode}, #{businessNum}, #{regisAddress}, #{comAddress},
        #{legalPerson}, #{economicType}, #{regisCapital}, #{skillLeader}, now())
    </insert>

    <select id="getCompanyTotalByOrgCodeOrCompanyName" parameterType="com.silita.model.TbCompany"
            resultType="Integer">
        SELECT COUNT(*) FROM mishu.tb_company WHERE business_num = #{businessNum} OR com_name = #{comName}
    </select>

    <select id="getCompanyIdByOrgCodeOrCompanyName" parameterType="com.silita.model.TbCompany"
            resultType="Integer">
        SELECT com_id FROM mishu.tb_company WHERE business_num = #{businessNum} OR com_name = #{comName}
    </select>

    <update id="updateCompanyRangeByComId" parameterType="com.silita.model.TbCompany">
        UPDATE mishu.tb_company
        SET `range` = #{range}
        WHERE `com_id` = #{comId}
    </update>

    <update id="updateCompany" parameterType="com.silita.model.TbCompany">
        UPDATE mishu.tb_company
        SET `com_name` = #{comName}, `org_code` = #{orgCode}, `business_num` = #{businessNum}, `regis_address` = #{regisAddress}, `com_address` = #{comAddress},
        `legal_person` = #{legalPerson}, `economic_type` = #{economicType}, `regis_capital` = #{regisCapital}, `skill_leader` = #{skillLeader}, `updated` = NOW()
        WHERE `com_id` = #{comId}
    </update>

</mapper>