<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbExceptionUrlMapper">
    <insert id="insertExceptionUrl" parameterType="com.silita.biaodaa.model.TbExceptionUrl">
      INSERT INTO
        hunanyitihua.tb_exception_url(`com_qua_url`, `exception_url`, `exception_msg`, `created`)
        VALUES
        (#{comQuaUrl}, #{exceptionUrl}, #{exceptionMsg}, NOW())
    </insert>
</mapper>