<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbPersonDesignMapper">

    <insert id="insertPersionDesign" parameterType="com.silita.biaodaa.model.TbPersonDesign">
        INSERT INTO
        mishu.tb_person_design(`innerid`, `pid`, `name`, `category`, `com_name`,
        `role`, `created`)
        VALUES
        (#{innerid}, #{pid}, #{name}, #{category}, #{comName},
        #{role},  NOW())
    </insert>

    <select id="getTotalByNameAndCategoryAndPid" parameterType="com.silita.biaodaa.model.TbPersonDesign" resultType="Integer">
        SELECT COUNT(*) FROM mishu.tb_person_design WHERE pid = #{pid} AND `name` = #{name} AND `category` = #{category}
    </select>
</mapper>