<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbPersonMapper">

    <insert id="insertPersonInfo" parameterType="com.silita.model.TbPerson">
        <selectKey resultType="Integer" order="AFTER" keyProperty="pkid">
            SELECT LAST_INSERT_ID() AS pkid
        </selectKey>
        INSERT INTO
        mishu.tb_person(`name`, `nation`, `sex`, `id_card`, `education`,
        `degree`, `created`)
        VALUES
        (#{name}, #{nation}, #{sex}, #{idCard}, #{education},
        #{degree}, NOW())
    </insert>

    <select id="getPersonTotalByNameAndIDAndSex" parameterType="com.silita.model.TbPerson" resultType="Integer">
      SELECT COUNT(*)
      FROM tb_person p
      WHERE `name` = #{name} AND `sex` = #{sex} AND `id_card` = #{idCard}
    </select>

    <select id="getPersonIdByNameAndIDAndSex" parameterType="com.silita.model.TbPerson" resultType="Integer">
      SELECT DISTINCT p.pkid
      FROM tb_person
      WHERE `name` = #{name} AND `sex` = #{sex} AND `id_card` = #{idCard}
    </select>
</mapper>