<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbPersonProjectMapper">

    <insert id="insertPersionProject" parameterType="com.silita.model.TbPersonProject">
       INSERT INTO
       mishu.tb_person_project(`innerid`, `pid`, `com_name`, `name`, `category`,
       `cert_no`, `safe_no`, `status`, `type`, `role`,
       `created`)
       VALUES
        (#{innerid}, #{pid}, #{comName}, #{name}, #{category},
        #{certNo}, #{safeNo}, #{status}, #{type}, #{role},
        NOW())
    </insert>

    <select id="getPersionProjectTotalByCertNoAndPid" parameterType="com.silita.model.TbPersonProject" resultType="Integer">
        SELECT COUNT(*) FROM mishu.tb_person_project WHERE pid = #{pid} AND `cert_no` = #{certNo} AND `safe_no` = #{safeNo}
    </select>

</mapper>