<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbPersonQualificationMapper">

    <insert id="insertPersonQualification" parameterType="com.silita.biaodaa.model.TbPersonQualification">
        INSERT INTO
        hunanyitihua.tb_person_qualification(`com_name`, `category`, `cert_no`, `seal_no`, `major`,
        `cert_date`, `valid_date`, `url`, `innerid`, `per_id`,
        `type`, `com_id`, `created`)
        VALUES
        (#{comName}, #{category}, #{certNo}, #{sealNo}, #{major},
        #{certDate}, #{validDate}, #{url}, #{innerid}, #{perId},
        #{type}, #{comId}, NOW())
    </insert>

    <select id="getTotalByCertNoAndComId" parameterType="com.silita.biaodaa.model.TbPersonQualification" resultType="Integer">
      SELECT COUNT(*) FROM hunanyitihua.tb_person_qualification WHERE cert_no = #{certNo} AND com_id = #{comId}
    </select>

    <select id="getTolalByPersonQualificationUrlAndComId" parameterType="Map" resultType="Integer">
      SELECT COUNT(*) FROM hunanyitihua.tb_person_qualification WHERE com_id = #{comId} AND url = #{url}
    </select>
</mapper>