<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbProjectMapper">

    <insert id="insertProjectInfo" parameterType="com.silita.biaodaa.model.TbProject">
        <selectKey resultType="Integer" order="AFTER" keyProperty="proId">
            SELECT LAST_INSERT_ID() AS proId
        </selectKey>
        INSERT INTO
        hunanyitihua.tb_project(`xmid`, `pro_name`, `pro_no`, `pro_org`, `pro_where`,
        `pro_address`, `invest_amount`, `approval_num`, `pro_type`, `build_type`,
        `pro_scope`, `land_licence`, `plan_licence`, `money_source`, `pro_level`,
        `pro_use`, `created`)
        VALUES
        (#{xmid}, #{proName}, #{proNo}, #{proOrg}, #{proWhere},
        #{proAddress}, #{investAmount}, #{approvalNum}, #{proType}, #{buildType},
        #{proScope}, #{landLicence}, #{planLicence}, #{moneySource}, #{proLevel},
        #{proUse}, NOW())
    </insert>

    <select id="getProjectTotalByProjectNoAndXmid" parameterType="com.silita.biaodaa.model.TbProject" resultType="Integer">
        SELECT COUNT(*) FROM hunanyitihua.tb_project WHERE pro_no = #{proNo} AND xmid = #{xmid}
    </select>

    <select id="getProIdByProNoAndXmid" parameterType="com.silita.biaodaa.model.TbProject" resultType="Integer">
        SELECT pro_id FROM hunanyitihua.tb_project WHERE pro_no = #{proNo} AND xmid = #{xmid}
    </select>
</mapper>