<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.biaodaa.dao.TbSafetyCertificateMapper">

    <insert id="batchInsertSafetyCertificate" parameterType="com.silita.biaodaa.model.TbSafetyCertificate">
        INSERT INTO
        hunanyitihua.tb_safety_certificate(`com_name`, `cert_no`, `cert_date`, `valid_date`, `created`)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.comName}, #{item.certNo}, #{item.certDate}, #{item.validDate}, NOW())
        </foreach>
    </insert>

    <insert id="insertSafetyCertificate" parameterType="com.silita.biaodaa.model.TbSafetyCertificate">
        INSERT INTO
        hunanyitihua.tb_safety_certificate(`com_name`, `cert_no`, `cert_date`, `valid_date`, `created`)
        VALUES
        (#{comName}, #{certNo}, #{certDate}, #{validDate}, NOW())
    </insert>

    <select id="getTotalByCertNoAndCompanyName" parameterType="com.silita.biaodaa.model.TbSafetyCertificate" resultType="Integer">
        SELECT COUNT(*) FROM hunanyitihua.tb_safety_certificate WHERE cert_no = #{certNo} AND com_name = #{comName}
    </select>

    <update id="updateSafetyCertificate" parameterType="com.silita.biaodaa.model.TbSafetyCertificate">
        UPDATE hunanyitihua.tb_safety_certificate
        SET `cert_date` = #{certDate}, `valid_date` = #{validDate}
        WHERE `cert_no` = #{certNo} AND `com_name` = #{comName}
    </update>

    <select id="getSafetyCertificateByCertNoAndCompanyName" parameterType="com.silita.biaodaa.model.TbSafetyCertificate" resultType="com.silita.biaodaa.model.TbSafetyCertificate">
       SELECT * FROM hunanyitihua.tb_safety_certificate WHERE cert_no = #{certNo} AND com_name = #{comName}
    </select>

</mapper>